<template>
  <div id="github">
    <a href="https://github.com/ivgtr" target="_blank" rel="noopener" class="try">
      <fa :icon="['fab', 'github']" class="try_icon" />
    </a>
  </div>
</template>
<script>
export default {
  name:'github'
}
</script>

<style lang="scss" scoped>
#github{
  .try{
    position: fixed;
    bottom: 0; left: 0;
    height: 81px; width: 81px;
    background: #283c5f;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    transition: .1s all ease-in;
    &_icon{
      color: #fff;
      font-size: 40px;
      position: absolute;
      bottom: 0; left: 0;
      transform: rotate(45deg);
    }
    &:hover{
      background: #2a313e;
      .try_icon{
        animation: rotate .6s ease .1s;
      }
    }
  }
}

@keyframes rotate{
  from,30% ,60% ,to{
    transform: rotate(45deg);
  }
  15%,75%{
    transform: rotate(60deg);
  }
  45%{
    transform: rotate(30deg);
  }
}

</style>