<template>
  <div id="mnav">
    <div class="nav" :class='{btn_active: isActive}'>
      <div class="nav_btn" @click="onClick">
        <div class="nav_btn_inner">
          <span class="nav_btn_inner_bar"></span>
          <span class="nav_btn_inner_bar"></span>
          <span class="nav_btn_inner_bar"></span>
        </div>
      </div>
      <div class="nav_body">
        <ul class="nav_body_menu">
          <li class="nav_body_menu_list">
            <p>This is Todo</p>
          </li>
          <li class="nav_body_menu_list">
            <a class="nav_body_menu_list_login" :class='{todo_active: todoimg}' @click="todoo">
              <img src="@/assets/logo.png" alt="" srcset="">
            </a>
          </li>
        </ul>
        <div class="nav_body_bg"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'mnav',
  data(){
    return{
      isActive: false,
      todoimg: false
    }
  },
  methods:{
    onClick(){
      this.isActive = !this.isActive
      if(this.isActive){
        document.querySelector('body').style.overflow = "hidden"
      } else {
        document.querySelector('body').style.overflow = "visible"
      }
    },
    btn_close(){
      this.isActive = false
      document.querySelector('body').style.overflow = "visible"
    },
    todoo(){
      this.todoimg = !this.todoimg
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
#mnav{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  .nav{
    position: relative;
    height: 100%;
    width: 100%;
    
    &_btn{
      position: absolute;
      z-index: 2019;
      height: 52px;
      width: 52px;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
        display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
        justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
          pointer-events: auto;
          touch-action: auto;
      cursor: pointer;
      &_inner{
        position: relative;
        height: 100%;
        width: 100%;
        &_bar{
          position: absolute;
          display: inline-block;
          height: 6px;
          width: 32px;
          background-color: #FFF;
          border-radius: 3px;
          left: calc(50% - 16px);
          transition: all .3s;
          &:nth-of-type(1){
            top: 13px;
            background: #C2617E;
          }
          &:nth-of-type(2){
            top: 23px;
            background: #F2C047;
          }
          &:nth-of-type(3){
            top: 33px;
            background: #2089a5;
          }
        }
      }
    }
    &_body{
      &_bg{
        position: fixed;
        top: 0; right: 0;
        height: 100%; width: 0;
        background: #2089a5;
        z-index: 998;
        &::before{
          content: "";
          position: fixed;
          top: 0; right: 0;
          height: 100%; width: 0;
          background: #C2617E;
        }
        &::after{
          content: "";
          position: fixed;
          top: 0; right: 0;
          height: 100%; width: 0;
          background: #F2C047;
        }
      }
      &_menu{
        position: fixed;
        z-index: 2020;
        margin: 0; padding: 0;
        height: 100%; width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        touch-action: none;
        display: none;
        &_list{
          display: inline-block;
          list-style: none;
          pointer-events: auto;
          touch-action: auto;
          opacity: 0;
          a{
            text-decoration: none;
            color: #283c5f;
            filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2)); 
          }
          span{
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            font-size: 48px;
          }
          margin-top: 24px;
          &:first-child{
            margin-top: 0;
          }
          &_login{ 

            &.todo_active{
              img{
                transform: rotate(720deg);
              }
            }
            img{
              transform: rotate(0deg);
              transition: 1s all ease-in-out;              
            }
          }
        }
      }
    }
    &.btn_active{
      .nav_btn{
        &_inner{
          &_bar{
            &:nth-of-type(1){
              transform: translateY(10px) rotate(-315deg);
            }
            &:nth-of-type(2){
              opacity: 0;
            }
            &:nth-of-type(3){
              transform: translateY(-10px) rotate(315deg);
            }
          }
        }
      }
      .nav_body{
        &_bg{
          animation: w-100 .2s forwards ease-out;
          &:before{
            animation: w-100 .3s forwards ease-in;
          }          
          &:after{
            animation: w-100 .5s forwards ease-in;
          }          
        }
        &_menu{
          display: flex;
          &_list{
            &:nth-child(1){
              animation: bounceInUp .5s forwards .1s;
            }
            &:nth-child(2){
              animation: bounceInUp .5s forwards .3s;
            }
            &:nth-child(3){
              animation: bounceInUp .5s forwards .5s;
            }
            
          }
        }
      }
    }    
  }
}
@keyframes w-100 {
  from { width: 0%; }
  to   { width: 100%; }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
</style>

