<template>
  <div id="todo">
    <form @submit.prevent="topush" class="input">
      <input type="text" v-model="tolis" placeholder="タスクを入力" class="input_text">
      <button type="submit" class="input_btn"><fa icon="plus" /></button>
    </form>
    <div class="todo">
      <transition-group tag="ul" name="todo" class="todo_list" mode="in-out">
        <li v-for="todo in todolist" :key="todo.id" class="todo_list_item" :class='{checked: todo.check}'>
          <span class="todo_list_item_check" @click="checked(todo.id)"></span>
          <span class="todo_list_item_todo" @click="checked(todo.id)">{{todo.todo}}</span>
          <span class="todo_list_item_del"  @click="del(todo.id)" >
            <fa icon="trash-alt" class="todo_list_item_del_icon"/>
          </span>
        </li>
      </transition-group>
    </div>
    <div class="todo_change">
      <div class="todo_change_btn" :class='{changed: opened}' @click="changetodo">
        <span class="todo_change_btn_icon"></span>
        <span class="todo_change_btn_child" @click="changeall">
          <fa icon="poo" />
        </span>
        <span class="todo_change_btn_child" @click="changecomp">
          <fa icon="check" />
        </span>
        <span class="todo_change_btn_child" @click="chengenotcomp">
          <fa icon="list-alt" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      tolis: "",
      todos:[],
      i : 16,
      opened: false,
      case: 1
    }
  },
  methods:{
    topush(){
      if(this.tolis.length > 0){
        this.todos.push({
          id: this.idhas(this.i),
          todo: this.tolis,
          check: false
        })
        this.tolis = ""

      }else{
        alert("内容がないよう")
      }
      document.querySelector(".input_text").focus()
    },
    checked(e){
      for(let i = 0; i < this.todos.length; i++){
        if(this.todos[i].id === e){
          this.todos[i].check = !this.todos[i].check
          break
        }
      }
    },
    del(e){
      for(let i = 0; i < this.todos.length; i++){
        if(this.todos[i].id === e){
          this.todos.splice(i, 1)
          break
        }
      }
    },
    idhas(N){
      return btoa(String.fromCharCode(...crypto.getRandomValues(new Uint8Array(N)))).substring(0,N)
    },
    changetodo(){
      this.opened = !this.opened
    },
    changeall(e){
      e.stopPropagation();
      this.case = 3
    },
    changecomp(e){
      e.stopPropagation();
      this.case = 2
    },
    chengenotcomp(e){
      e.stopPropagation();
      this.case = 1
    }

  },
  created(){
    
  },
  computed:{
    todolist(){
      switch(this.case){
        case 1:
          return this.todos
          break
        case 2:
          return this.todos.filter((el) => {
              return el.check === true
          },this)
          break
        case 3:
          return this.todos.filter((el) => {
              return el.check === false
          },this)
          break
      }
    }
  },
  mounted(){
    this.todos = JSON.parse(localStorage.getItem('todos')) || [];
  },
  watch:{
    todos:{
      handler: function() {
                localStorage.setItem('todos', JSON.stringify(this.todos));
            },
            deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400&display=swap');
@mixin small {
  @media (max-width: (1024px)) {
    @content;
  }
}
#todo{
  font-family: 'Zilla Slab', serif;
}
input, button, select, textarea {-webkit-appearance: none;}
.input{
  position: relative;
  width: 100%; height: 60px;
  &_text{
    position: absolute;
    left: 0;
    width: 100%;
    height: 45px;
    font-size: 17px;
    border: solid 2px #666666;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
    padding-left: 15px;
    &:focus {
      border-radius: 50px;
      border: solid 2px #a3518f;
    }
  }
  &_btn{
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    right: 0;
    height: 45px; width: 45px;
    border-radius: 50%;
    background: #C2617E;
    border: none;
    outline: none;
    transition: all .1s;
    cursor: pointer;
    &:hover{
      background: #a3518f;
    }
  }
}
.todo{
  width: 100%;
  &_list{
    width: 100%;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    position: relative;
    &_item{
      list-style: none;
      text-align: left;
      border-bottom: dashed 2px #2089a5;
      padding: 0 18px;
      position: relative;
      display: grid;
      grid-template-columns: 25px 1fr;
      height: 50px;
      align-items: center;
      transition: all .3s ease-in;
      &:first-child{
        border-bottom: none;
      }
      &_todo{
        font-size: 21px;
        line-height: 20px;
        margin-left: 15px;
        width: 100%;
        padding: 15px 0;
      }
      &_check{
        position: relative;
        display: inline-block;
        height: 15px; width: 15px;
        border-radius: 50%;
        line-height: 20px;
        box-sizing: border-box;
        border: solid 1px #000;
      }
      &_del{
        display: none;
        position: absolute;
        height: 25px; width: 25px;
        border-radius: 50%;
        background: #c55c66;
        font-size: 12px;
        line-height: 27px;
        text-align: center;
        color: #fff;
        right: 0;       
        filter:drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2)); 
        transition: all .1s ease-in;
        @include small{
          display: inline-block;
        }
      }
      &.checked{
        .todo_list_item_todo{
          text-decoration: line-through;
          color: #666666;
        }
        .todo_list_item_check{
          &::after{
            content: "✔️";
            position: absolute;
            top: -5px;
          }
        }
      }
      &:hover{
        background: #FCFCF3;
        .todo_list_item_del{
          
          display: inline-block;

          &:hover{
            transform: scale(1.1);
            background: #a3518f;
          }  
        }
      }
    }
  }
  &_change{
    position: fixed;
    height: 52px; width: 52px;
    bottom: 10px; right: 10px;
    border-radius: 50%;
    &_btn{
      position: relative;
      height: 52px; width: 52px;
      border-radius: 50%;
      &:before{
        content: "";
        display: inline-block;
        position: absolute;
        top: 0; left: 0;
        border-radius: 50%;
        height: 52px; width: 52px;
        background: #C2617E;
        transition: .2s all cubic-bezier(1, 0.1, 0.2, 0.7);
      }
      &_icon{
        position: absolute;
        top: 23px; left: 10px;
        display: inline-block;
        height: 6px; width: 32px;
        background: #fff;
        border-radius: 6px;
        transition: .3s all cubic-bezier(1, 0.1, 0.2, 0.7);
        transform-origin: center;
        &:after{
          content: "";
          position: absolute;
          top: 0px; left: 0px;
          display: inline-block;
          height: 6px; width: 32px;
          background: #fff;
          border-radius: 6px;
          transform: rotate(90deg);

        }
      }
      &_child{
        position: absolute;
        top: 0px; left: 0;
        display: inline-block;
        height: 43px; width: 43px;
        opacity: 0;
        background: #fff;
        border-radius: 50%;
        z-index: 1;
        top: 0; left: 0;
        line-height: 43px;
        font-size: 24px;
        color: #C2617E;
        touch-action: none;
        pointer-events: none;
        &:nth-child(4){
          transition: .1s all ease-in;
        }
        &:nth-child(3){
          transition: .1s all ease-in .1s;
        }
        &:nth-child(2){
          transition: .1s all ease-in .2s;
        }
      }
      &.changed{
          
          .todo_change_btn_icon{
            transform: rotate(315deg);
          }
          &:before{
            transform: scale(5);
          }
          .todo_change_btn_child{
            touch-action: auto;
            pointer-events: auto;
            &:nth-child(2){
              transform: translate(-70px,10px);
              animation: opacity0-1 .2s forwards ease-out .2s;
            }
            &:nth-child(3){
              transform: translate(-50px,-50px);
              animation: opacity0-1 .2s forwards ease-out .1s;
            }
            &:nth-child(4){
              transform: translate(10px,-70px);
              animation: opacity0-1 .2s forwards ease-out;
            }
          }
        }
    }
  }
}
.todo-enter-active {
    transition: opacity .6s, transform .5s ease;
}
.todo-enter {
    opacity: 0;
    transform: translateX(70px);
}
.todo-enter-to {
    opacity: 1;
}
.todo-leave-active {
    transition: opacity .2s, transform .1s ease;
    position: absolute;
    
}
.todo-leave {
    opacity: 1;
}
.todo-leave-to {
    opacity: 0;
}
.todo-item{
  transition: all 1s;
  display: inline-block;
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
@keyframes opacity0-1{
  from {
    opacity: 0;
  }
  90%, to{
    opacity: 1;
  }
}
</style>