<template>
  <div id="app">
    <div class="main">
      <h1 class="main_qa">What to do?</h1>
      <todo />
      <github />
    </div>
    <mnav />
    
  </div>
</template>

<script>
import todo from './components/todo.vue'
import github from './components/github.vue'
import mnav from './components/mnav.vue'

export default {
  name: 'app',
  components: {
    mnav,
    todo,
    github
  },
  data(){
    return{
      todos:[]
    }
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400&display=swap');
.main{
  max-width: 480px;
  margin: 10vw auto;
  text-align: center;
  &_qa{
    font-family: 'Zilla Slab', serif;
  }
}
</style>
